<p id="notice"><%= notice %></p>

<h1>Articles</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Category</th>
      <th colspan="3">&nbsp;</th>
    </tr>
  </thead>

  <tbody>
    <% @articles.each do |article| %>
    <% article = article.becomes(Article) %>
      <tr>
        <td><%= article.title %></td>
        <td><%= article.category %></td>
        <td><%= link_to 'Show', article %></td>
        <td>
          <% if policy(article).edit? %>
            <%= link_to 'Edit', edit_article_path(article) %>
          <% end %>
          </td>
        <td>
          <% if policy(article).destroy? %>
            <%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


<br>
<% if policy(:user).create_article? %>
    <%= link_to 'New Article', new_article_path %>
<% elsif %>
   You must be an editor to add a new article.
   <%= link_to 'Sign In', user_session_path unless current_user %>
<% end %>



