%div
    %p{:id =>"notice"}
    %strong Title
    %p=@article.title

    %strong Content
    %p=@article.content

    %strong Category
    %p=@article.category

    %strong User
    %p=@article.user.email

    -if policy(@article).edit?
        =link_to 'Edit', edit_article_path(@article)
    =link_to 'Back', articles_path

