<!DOCTYPE html>
<html>
  <head>
    <title>TonyRorCompetencyTest</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <% if !flash.empty? %>
      <div id="flash"> 
          <% flash.keys.each do |k| %> 
              <div class="<%= k %>">
                  <%= flash[k] %>
              </div>  
          <% end %>   
      </div>
  <% end %>

    <% if user_signed_in? %>
      <div>Signed in as: <%= current_user.email %> (<%= current_user.role %>) - <%= link_to 'Sign out', destroy_user_session_path, method: :delete %></div>
    <% end %>

    <%= yield %>
  </body>
</html>
